/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
}
.box{
    width: 300px;
    height: 280px;
    background-color: rgb(203, 166, 117);
    border-left: 1px solid rgb(203, 166, 117);
    border-right: 1px solid rgb(203, 166, 117);
    border-bottom: 1px solid rgb(203, 166, 117);
    position: relative;
    /* cursor: pointer; */
    box-shadow: 0px 5px 20px rgb(18, 18, 21) ;
}

.box-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(203, 166, 117);
    cursor: pointer;
    
}
.left {
    height: 5px;
    width: 100px;
    background-color: rgb(203, 166, 117); 
    position: absolute;
    left: -100px;
    transform: rotate(-45deg);
    transform-origin: center right;
    animation: up-down 2s forwards infinite alternate ;
    
}

@keyframes up-down{
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(-45deg);
    }
}

.right{
    height: 5px;
    width: 100px;
    background-color: rgb(203, 166, 117); 
    position:absolute;
    right: -100px;
    transform: rotate(45deg);
    transform-origin: center left;
    animation: down-up 2s forwards infinite alternate;
}

@keyframes down-up{
    0%{
        transform:rotate(20deg)
    }
    100%{
        transform: rotate(45deg);
    }
}
.image{
    width: auto;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    transform: translate(-50%, -50%);
    transition: transform 2s; 
}
.box-clicked .image {
    transform: translate(-50%, -100%);
}
@media screen and (max-width: 570px) {
    .box{
        width:220px;
        height:200px;
    }
    .left{
        width: 50px;
        left: -50px;
    }
    .right{
        width: 50px;
        right: -50px;
    }
    .box-inner{
        cursor: none;
    }
}